html {
    background: center / cover no-repeat url("/steve-johnson--2FHKwZo5TA-unsplash.jpg") #EEEEFE;
}

header {
    background: #FFFFFFEE;
    margin: auto;
    max-width: 750px;
    min-width: 310px;
    padding: 1rem;
}

.logo {
    display: block;
    max-height: 15rem;
    max-width: 20rem;
    margin: auto;
}

.logo-pane {
    margin-bottom: 3rem;
}

.info-pane {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: large;
    text-align: center;
}

main {
    background: #FFFFFFEE;
    margin: auto;
    max-width: 750px;
    min-width: 310px;
    padding: 1rem;
}

footer {
    margin: auto;
    margin-bottom: 15em;
    padding-top: 4rem;
    max-width: 750px;
    min-width: 310px;
    text-align: center;
    padding: 1rem;
    border-top: .05rem solid #DDDDFFFF;
    background: #FFFFFFEE;
}

section {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: large;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

h2 {
    font-family: 'Roboto Slab', serif;
    background: #EEEEFFFF;
    padding: 1rem;
    font-size: 1.2em;
}

li {
    list-style-type: circle;
    margin-bottom: .5rem;
}

@media only screen and (min-width: 54em) {
    .logo {
        max-height: 30rem;
        max-width: 40rem;
    }
    h2 {
        font-size: 1.7em;
    }
}
